/* TAGS */
body{
    background: #221f1d;
    font-size: 18px;
    font-family: Inconsolata-G, monospace;
    color: #BDBDBD;
    margin: 0px;
    padding: 0px;
}

span{
    margin: 0px;
    padding: 0px;
    line-height: 18px;
}

p{
    margin: 0px;
    padding: 0px;
}

/* THE FOLLOWING SECTION TREATS THE BLINKING POSITON INDICATOR */

.consolePositionIndicator.active{
    animation-name: blinkingPosInd;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    
    -webkit-animation-name: blinkingPosInd;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    
    -moz-animation-name: blinkingPosInd;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-iteration-count: infinite;
    
    -o-animation-name: blinkingPosInd;
    -o-animation-duration: 1s;
    -o-animation-timing-function: ease-in-out;
    -o-animation-iteration-count: infinite;
}

@keyframes blinkingPosInd {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinkingPosInd {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-moz-keyframes blinkingPosInd {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-o-keyframes blinkingPosInd {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

/*********************************************/



/* CLASSES */

.consoleName{
    margin-left: 10px;
}

.consoleOutput{
    color: #999;
    margin-left: 10px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.consoleOutputStream{
    color: #8caacc;
}

.loadingWheel{
    width: 18px;
    height: 18px;
    margin-left: 18px;
}

#mobileTextField{
    background: #221f1d;
    color: #BDBDBD;
    font-size: 18px;
    width: 75%;
    border: 0px solid #000;
}

#terminalHeaderImage{
    
}